page{
	--color:#ffde33;
	--bColor:#969696;
	--bgcolor:#f8f7f7;
	height: 100%;
}

view,scroll-view,cover-view{
		box-sizing: border-box;
	}

.line-3{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.line-1{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.container{
	padding: 0 20rpx;
	font-weight: 500;
}

.b{
	border: 1px solid #f8f7f7;
}

.b-t{
	border-top: 1px solid #f8f7f7;
}

.b-b{
	border-bottom: 1px solid #f8f7f7;
}

.f-w-5{
	font-weight: 500;
}

.m-top-10{
	margin-top: 20rpx;
}

.m-top-15{
	margin-top: 30rpx;
}

.uni-flex-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.uni-flex-ac{
	display: flex;
	align-items: center;
}

.uni-flex-jc{
	display: flex;
	justify-content: center;
}

.uni-flex-sbc{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.uni-flex-right{
	display: flex;
	align-items: center;
	justify-content: right;
}
